
<section  flex layout-align="center center" class="md-padding" layout-xs="column" layout="row" ng-controller="LoginCtrl" id="login">
    <md-card  class="md-whiteframe-4dp" flex flex-gt-sm="50" flex-gt-md="33">
        <md-progress-linear ng-show="processing" md-mode="intermediate" class="md-warn"></md-progress-linear>
        <md-toolbar>
            <div layout="column" layout-padding layout-align="center center">
                <div class="md-headline md-padding">Login</div>
                <div ng-show="errors" class=".md-subhead"><md-icon class="material-icons" style="fill: #dc1f26;">search</md-icon> Login credentials were incorrect</div>
            </div>
        </md-toolbar>
        <md-card-content >
            <form name="login">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="UserEmail" ng-model="loginData.email"  placeholder="Email address" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="UserPassword" ng-model="loginData.password"  placeholder="Password" ng-required="true"/>
                </md-input-container>
                <md-input-container class="md-block">
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary" ng-disabled="processing" ng-click="loginUser()">Login</md-button>
                    </div>
                </md-input-container>
            </form>
            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-primary" ui-sref="forgetPwd" >Forgot Password
                </md-button>
                <md-button class="md-primary" ui-sref="register.basic" >Register</md-button>
            </div>
        </md-card-content>
    </md-card>
</section>
