  
<!--business name-->
<div layout="column">

    <md-input-container class="md-block">
        <label>Business Name</label>
        <input name="businessName" placeholder="Business name" ng-model="userData.business_name" s-val ng-minlength="7" ng-maxlength="20" required>
        <div ng-messages="registerForm.businessName.$error">
            <div ng-message="required">Business/company name is required.</div>
            <div ng-message="minlength">Business/company name is too short.</div>
            <div ng-message="maxlength" >Business/company name is too long.</div>
            <div ng-message="string">Business/company name is not valid.</div>
            <div ng-message="bexist">Business/company name exist.</div>
        </div>
    </md-input-container>

    <md-checkbox
            ng-model="userData.registered"
            ng-true-value="'Yes'"
            ng-false-value="'No'"
            class="md-warn md-align-top-left" flex>
        <span>
              Is your business registered?
            </span>
        <br/>
    </md-checkbox>
    
    <div ng-if="isVendor">
   		<md-input-container class="md-block">
				  <label>Services </label>
				   <md-select ng-model="userData.vendor_service" ng-required="true">
				    <md-option><em>None</em></md-option> 
				    <md-option ng-repeat="services in vendorServices" ng-value="services"> {{services}} </md-option>
				    </md-select>
				   </md-input-container> 	
   	</div>
		
		<div ng-if="!isVendor">
    <md-input-container class="md-block">
        <label>Work number</label>
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input type="text" name="work" placeholder="Work/office number" class="form-control" ng-model="userData.work_number" number-validate required/>
        <div ng-messages="registerForm.work.$error">
            <div ng-message="required">Work/office number is required.</div>
            <div ng-message="telephone">Please enter a valid Work/office number.</div>
            <div ng-message="minlength">Too short.</div>
            <div ng-message="maxlength">Too long.</div>
        </div>
    </md-input-container>
    <label class="md-block">Choose event planning type. </label>
    <md-input-container>
        <md-checkbox ng-model="userData.type1" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn md-align-top-left" flex>
        <span> Full service Planning </span>
        </md-checkbox>

        <md-checkbox ng-model="userData.type2"  ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn md-align-top-left" flex>
        <span>Day of Event Planning</span>

        </md-checkbox><md-checkbox   ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn md-align-top-left" flex>
        <span>Planning Only</span>

        </md-checkbox>
    </md-input-container>
    </div>
</div>
    <md-button class="md-primary md-raised md-hue-2 pull-right clearfix"ng-disabled="registerForm.$invalid" ui-sref="register.website">Next</md-button>

